<% if @no_data then %>
<div class="jumbotron">
  <h1>Годовой отчет за <%=@year%> год</h1>
  <p class="lead">
    Отображает общее количество распространненых книг по всем локациям за <%=@year%> год.
  </p>
</div>
<div class="alert alert-danger" role="alert">За данный период данных нет.</div>

<% else %>
<div class="jumbotron">
  <h1>Годовой отчет за <%=@year%> год</h1>
  <p class="lead">
    Отображает общее количество распространненых книг по всем локациям за <%=@year%> год.
    Было распространено <%= @quantity %> книг.
  </p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Общее количество распространненых книг по всем локациям за <%=@year%> год</div>
  <div class="panel-body">
    <div id="quantity-chart" class="ct-chart ct-double-octave"></div>
  </div>

	<table id="table" class="table">
		<tr>
			<th>Локация</th>
			<th>Книги</th>
			<th>01</th><th>02</th><th>03</th><th>04</th><th>05</th><th>06</th>
			<th>07</th><th>08</th><th>09</th><th>10</th><th>11</th><th>12</th>
		</tr>

		<% @locations.each do |row|  %>
		  <tr>
		    <td><a href="<%=statistics_reports_location_path(row[:location][:url], @year)%>"><%=row[:location][:name]%></a></td>
		    <td><%=row[:quantity][:overall]%></td>
		    <!-- quantity by month -->
				<% @months.each do |month| %>
					<td>
						<%= (row[:quantity][:by_month].detect{|x| x[:month] == month} or {quantity:0})[:quantity] %>
		      </td>
		    <% end %>
		  </tr>
		<% end %>
	</table>

	<div class="panel-footer">
    Книг: <%= @quantity %>;
    Локаций: <%= @locations.count  %>;
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Общее количество книг по распространителям за <%=@year%> год</div>
  <div class="panel-body">
    <div id="distributors-chart" class="ct-chart ct-double-octave"></div>
  </div>

	<table id="table" class="table">
		<tr>
		  <th>Имя</th>
			<th>Локация</th>
			<th>Книги</th>
			<th>01</th><th>02</th><th>03</th><th>04</th><th>05</th><th>06</th>
			<th>07</th><th>08</th><th>09</th><th>10</th><th>11</th><th>12</th>
		</tr>
		<% @persons.each do |row|  %>
		  <tr>
		    <td>
		      <a href="<%=statistics_reports_personal_path(row[:person][:id], row[:person][:name])%>"><%=row[:person][:name]%></a>
		    </td>
		    <td><%=row[:person][:location][:name]%></td>
		    <td><%=row[:quantity][:overall]%></td>
		    <!-- quantity by month -->
				<% @months.each do |month| %>
					<td>
						<%= (row[:quantity][:by_month].detect{|x| x[:month] == month} or {quantity:0})[:quantity] %>
		      </td>
		    <% end %>
		  </tr>
		<% end %>
	</table>

	<div class="panel-footer">
    Человек: <%= @persons.count %>;
    Книг: <%= @quantity %>;
    Локаций: <%= @locations.count  %>;
	</div>
</div>

<nav>
  <ul class="pager">
    <li class="previous"><a href="<%=statistics_reports_annual_path(@year-1)%>"><span aria-hidden="true">&larr;</span> <%=@year-1%> год</a></li>
    <% if @year < @current_year then %>
      <li class="next"><a href="<%=statistics_reports_annual_path(@year+1)%>"><%=@year+1%> год <span aria-hidden="true">&rarr;</span></a></li>
    <% end %>
  </ul>
</nav>

<script type="text/javascript">
  new Chartist.Bar('#quantity-chart', {
    labels: ["янв", "фев", "март", "апр", "май", "июнь", "июль", "авг", "сент", "окт", "ноя", "дек"],
    series: <%= annual_chart_data(@chart_data) %>
  });

  new Chartist.Bar('#distributors-chart', {
    labels: <%= raw @persons.map { |o| o[:person][:name] }.to_json %>,
    series: <%= raw [@persons.map { |o| o[:quantity][:overall] }].to_json %>
  });
</script>
<% end %>