<% if @select_location %>
  <div class="jumbotron">
    <h1>Отчет по локации</h1>
    <p class="lead">
      Отображает общее количество распространненых книг по локации за <%=@year%> год.
    </p>
  </div>

  <div class="list-group">
    <div class="list-group-item active">
      Выберите локацию
    </div>

    <% for location in @locations %>
      <a href="<%=statistics_reports_location_path(location.url, @current_year)%>" class="list-group-item"><%=location.name%></a>
    <% end %>
  </div>
<% end %>



<% if !@select_location %>
<% if @no_data then %>
<div class="jumbotron">
  <h1><%=@location.name%>, <%=@year%> год</h1>
  <p class="lead">
    Отображает общее количество распространненых книг по локации за <%=@year%> год.
  </p>
</div>
<div class="alert alert-danger" role="alert">За данный период данных нет.</div>

<% else %>
<div class="jumbotron">
  <h1><%=@location.name%>, <%=@year%> год</h1>
  <p class="lead">
    Отображает общее количество распространненых книг по локации за <%=@year%> год.
    Было распространено <%= @overall_quantity %> книг.
  </p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Общее количество распространненых книг по всем локациям за <%=@year%> год</div>
  <div class="panel-body">
    <div id="quantity-chart" class="ct-chart ct-double-octave"></div>
  </div>

	<table id="table" class="table">
		<tr>
		  <th>Имя</th>
			<th>Книги</th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '01')%>">01</a></th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '02')%>">02</a></th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '03')%>">03</a></th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '04')%>">04</a></th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '05')%>">05</a></th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '06')%>">06</a></th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '07')%>">07</a></th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '08')%>">08</a></th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '09')%>">09</a></th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '10')%>">10</a></th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '11')%>">11</a></th>
			<th><a href="<%=statistics_reports_monthly_path(@location.url, @year, '12')%>">12</a></th>
		</tr>
		<% @persons.each do |row|  %>
		  <tr>
		    <td>
		      <a href="<%=statistics_reports_personal_path(row[:person][:id], row[:person][:name])%>"><%=row[:person][:name]%></a>
		    </td>
		    <td><%=row[:quantity][:overall]%></td>
		    <% @months.each do |month| %>
					<td>
						<%= (row[:quantity][:by_month].detect{|x| x[:month] == month} or {quantity:{overall:0}})[:quantity][:overall] %>
		      </td>
		    <% end %>
		  </tr>
		<% end %>
	</table>

	<div class="panel-footer">
    Книг: <%= @overall_quantity %>;
	</div>
</div>

<nav>
  <ul class="pager">
    <li class="previous"><a href="<%=statistics_reports_location_path(@location.url, @year-1)%>"><span aria-hidden="true">&larr;</span> <%=@year-1%> год</a></li>
    <% if @year < @current_year then %>
      <li class="next"><a href="<%=statistics_reports_location_path(@location.url, @year+1)%>"><%=@year+1%> год <span aria-hidden="true">&rarr;</span></a></li>
    <% end %>
  </ul>
</nav>

<script type="text/javascript">
  new Chartist.Bar('#quantity-chart', {
    labels: ["янв", "фев", "март", "апр", "май", "июнь", "июль", "авг", "сент", "окт", "ноя", "дек"],
    series: <%= raw location_chart_data(@chart_data) %>
  });
</script>
<% end %>
<% end %>