<% if @no_data then %>
<div class="jumbotron">
  <h1>Месячный отчет. <%=@location.name%>, <%=@month%>/<%=@year%></h1>
  <p class="lead">
    Отображает общее количество распространненых книг по локации за <%=@year%> год.
  </p>
</div>
<div class="alert alert-danger" role="alert">За данный период данных нет.</div>

<% else %>
<div class="jumbotron">
  <h1>Месячный отчет. <%=@location.name%>, <%=@month%>/<%=@year%></h1>
  <p class="lead">
    Отображает общее количество распространненых книг по локации за <%=@year%> год.
    Было распространено <%= @overall_quantity %> книг.
  </p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Общее количество распространненых книг по всем локациям за <%=@year%> год</div>
  <div class="panel-body">
    <div id="distributors-chart" class="ct-chart ct-double-octave"></div>
  </div>

	<table id="table" class="table">
		<tr>
		  <th>Имя</th>
			<th>Книги</th>
			<th>Махабиги</th><th>Биги</th><th>Средние</th><th>Малые</th>
		</tr>
		<% @persons.each do |row|  %>
		  <tr>
		    <td>
		      <a href="<%=statistics_reports_personal_path(row[:person][:id], row[:person][:name])%>"><%=row[:person][:name]%></a>
		    </td>
		    <td><%=row[:quantity][:overall]%></td>
		    <td><%=row[:quantity][:huge]%></td>
		    <td><%=row[:quantity][:big]%></td>
		    <td><%=row[:quantity][:medium]%></td>
		    <td><%=row[:quantity][:small]%></td>
		  </tr>
		<% end %>
	</table>

	<div class="panel-footer">
    Книг: <%= @overall_quantity %>;
	</div>
</div>

<nav>
  <ul class="pager">
    <li class="previous">
      <a href="<%=statistics_reports_monthly_path(@location.url, (@month==1?@year-1: @year), (@month>1 ? @month-1:12).to_s.rjust(2, '0'))%>">
        <span aria-hidden="true">&larr;</span> <%=@month > 1 ? @month-1 : 12%>/<%=@month == 1 ? @year-1 : @year%>
      </a>
    </li>

    <% if @year <= @current_year && @month < 11 then %>
      <li class="next">
        <a href="<%=statistics_reports_monthly_path(@location.url, (@month==12?@year+1: @year), (@month<12 ? @month+1:1).to_s.rjust(2, '0'))%>">
          <%=(@month<12 ? @month+1:1)%>/<%=(@month==12?@year+1: @year)%> <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    <% end %>
  </ul>
</nav>

<script type="text/javascript">
  new Chartist.Bar('#distributors-chart', {
    series: <%=raw [@persons.map{|o| o[:quantity][:overall]}].to_json%>,
    labels: <%=raw @persons.map{|o| o[:person][:name]}.to_json%>
  });
</script>
<% end %>