<!-- overall report introduction -->
<div class="jumbotron">
  <h1>Суммарный отчет</h1>
  <p class="lead">
    Отображает общее количество распространненых книг по всем локациям за все время.
    За всё время было распространено книг <%= @quantity %>.
    Тройка самых активных локаций: <%= most_active_locations(@locations) %>.
    Больше всего книг распространили: <%= most_active_persons(@persons) %>.
  </p>
</div>

<!-- overall chart and table -->
<div class="panel panel-default">
  <div class="panel-heading">
  	Общее количество распространненых книг по всем локациям за все время
  </div>
  <div class="panel-body">
    <div id="quantity-chart" class="ct-chart ct-double-octave"></div>
  </div>

	<table id="table" class="table">
		<!-- table header -->
		<tr>
			<th>Локация</th>
			<th>Книги</th>
			<% @years.each do |year| %>
			  <th>
			    <a href="<%=statistics_reports_annual_path(year)%>">
			      <%=year%>
			     </a>
			  </th>
			<% end %>
		</tr>

		<!-- table rows -->
		<% @locations.each do |row|  %>
			<tr>
			  <!-- location name -->
				<td>
				  <a href="<%=statistics_reports_location_path(row[:location_url], @current_year)%>">
				    <%=row[:location_name]%>
				  </a>
				</td>

				<!-- quantity and scores -->
				<td><%=row[:quantity]%></td>

				<!-- quantity by year -->
				<% row[:data].each do |quantity| %>
		      <td><%=quantity%></td>
		    <% end %>
			</tr>
		<% end %>
	</table>

	<div class="panel-footer">
    Книг: <%= @quantity %>;
    Локаций: <%= @locations.count %>;
	</div>
</div>

<!-- overall by person -->
<div class="panel panel-default">
  <div class="panel-heading">Общее количество распространненых книг по распространителям</div>
  <div class="panel-body">
    <div id="distributors-chart" class="ct-chart ct-double-octave"></div>
  </div>

	<table id="table" class="table">
		<!-- table header -->
		<tr>
		  <th>Имя</th>
			<th>Локация</th>
			<th>Книги</th>
			<% @years.each do |year| %>
	      <th><%=year%></th>
			<% end %>
		</tr>

		<!-- person rows -->
		<% @persons.each do |row|  %>
			<tr>
			  <td>
			  	<a href="<%=statistics_reports_personal_path(row[:person_id], row[:name])%>"><%=row[:name]%></a>
			  </td>
				<td><%=row[:location]%></td>
				<td><%=row[:quantity]%></td>
			  <% row[:data].each do |quantity| %>
		      <td><%=quantity%></td>
		    <% end %>
			</tr>
		<% end %>
	</table>

	<div class="panel-footer">
    Человек: <%= @persons.count %>;
    Книг:    <%= @quantity %>;
    Локаций: <%= @locations.count  %>;
	</div>
</div>


<script type="text/javascript">
  new Chartist.Bar('#quantity-chart', {
    labels: <%= raw overall_chart_labels %>,
    series: <%= raw overall_chart_data(@data) %>
  });

  new Chartist.Bar('#distributors-chart', {
    labels: <%= raw @persons.map { |o| o[:name] }.to_json %>,
    series: <%= raw [@persons.map { |o| o[:quantity] }].to_json %>
  });
</script>